.App {
    margin: 1.2rem auto;
    text-align: center;
    width: 37vw;
    /* background-image: linear-gradient(to bottom, #3b679e 0%, #2b88d9 40%, #2b88d9 43%, #207cca 49%, #207cca 56%, #7db9e8 100%); */
    border-radius: 5px;
    box-shadow: 0 6px 28px -3px rgba(0, 0, 0, 0.75);
    color: white;
    position: relative;
  }

  .form {
    position: absolute;
    left: 5rem;
    font-size: 1rem;
  }

  .forecastWrapper {
    margin-top: 5rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: "#ffccff";
  }

  .day {
        display: inline-block;
        transition: all .3s;
        margin: 0 auto;
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        
        text-align: left;
    }

    .test{
      background-color: #ffccff;
    }

    .day>img {
        width: 5.5rem;
    }

  @media (max-width: 900px) {
    .App {
      width: 100vw;
      margin: 0 auto;
      height: 100vh;
      border-radius: 0;
    }
  }
